* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/ok.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vw;
}

h1 {
    font-size: 64px;
    margin-top: 250px;
}

.btn-danger {
    padding: 15px 35px;
    transition: all 0.5s ease-in-out;
    border: 2px solid black;
    background: transparent;
    color: black;
}

img {
    margin-right: 50px;
    margin-top: 120px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30%);
    }
    60% {
        transform: translateY(-15%);
    }
}